/*hero css start here*/
body{
    background-image: url("../img/hero.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    position: relative;
    
}
.navbar-nav li a{
    color:#000000;
    font-weight:500;
}
/*hero*/
.hero h1{
    font-size: 50px;
    font-weight: 700;
}
.hero{
    margin-top: 120px;
}
.images{
    width:50px;
    margin-right: 15px;
    margin-bottom:20px;
}

/*visual*/

.videos{
    background-image: url("../img/Rectangle 22.png");
    height: 75vh;
}
.fa-circle-play {
    margin-top: 25%;
    border-radius: 50%;
    
    
}
.video{
    margin-top: 50px;
}
/*visual*/
.gradiant{
    font-size: 72px;
    background: -webkit-linear-gradient(#FF7E7E, #015ddd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
}
.rectangle{
    width: 120px;
}
.imagee img{
    max-width: 100%;
}
.design p{
    font-size: 20px;
    color:#5E5E66;

}
/*benifit*/
.benifit img{
    margin-left: 10px;
    
    width:50px;
}
.card p{
    font-size: 15px;
    font-weight: 400;
    text-align: start;

}
.card h1{
    font-size: 20px;
    text-align: start;
}

/*price box*/
.text h1{
    background: linear-gradient(to right, #a4afe5 , #8fc7f9, #cdfff0); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.price-box{
    background-color: #000000;
}
.card-one{
    background-color: #0d0d0d06;
}
.card-body{
    background-color: #78747400;
}
.book-call{
    border-bottom: 1px dashed rgb(255, 255, 255);
    margin-left: 19%;
    text-align: center;
    
}

/*freequently*/


/*client review*/
.caro{
    border: 1px solid;
    border-color:#8d8aef;
    border-radius: 10px;

}
.caro{
    background-image: url("/img/Vector.png");
    background-repeat: no-repeat;
    background-position: left;
}

/*innovate*/
.innovate{
    position: relative;
}
.team{
    
    background-color:#00000026;;
    position: absolute;
    margin-left: 351px;
    margin-top: -495px;
    color: white;
}
.border-bottom{
    
    width:100%;
    background-color:#7D7D82;
    margin-top: 5px;
   
}
.footer{
    color: white;
    background-color: #000000;
}

/*footer bottom*/
a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
 
  
  
  /* ==========================================
      CUSTOM UTILS CLASSES
    ========================================== */
    body, html {
      height: 100%;
    }